<!doctype html>
<html>
{% extends "base.html" %}
<body>
{% block content %}
<h2>Register as a new business owner</h2>
    <form action="" method="post" novalidate autocomplete="off">
        {{ form.hidden_tag() }}
    <p>
        {{ form.username.label }}<br>
        {{ form.username(size=32) }}<br>
        {% for error in form.username.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
    </p>

     <p>
       {{ form.password.label }}<br>
       {{ form.password(size=50) }}<br>
       {% for error in form.password.errors %}
          <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
    </p>

         <p>
       {{ form.password2.label }}<br>
       {{ form.password2(size=50) }}<br>
       {% for error in form.password2.errors %}
          <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
    </p>

        <p>
            {{ form.name.label }}<br>
            {{ form.name(size=32) }}<br>
            {% for error in form.name.errors %}
            <span style="...">[{{ error }}</span>
            {% endfor %}
        </p>
        <p>
            {{ form.description.label }}<br>
            {{ form.description(size=32) }}<br>
            {% for error in form.description.errors %}
            <span style="...">[{{ error }}</span>
            {% endfor %}
        </p>
        <p>
            {{ form.location.label }}<br>
            {{ form.location(size=32) }}<br>
            {% for error in form.location.errors %}
            <span style="...">[{{ error }}</span>
            {% endfor %}
        </p>
        <p>
            {{ form.top_items.label }}<br>
            {{ form.top_items(size=32) }}<br>
            {% for error in form.top_items.errors %}
            <span style="...">[{{ error }}</span>
            {% endfor %}
        </p>
              <p>
        {{ form.category.label }}<br>
        {{ form.category() }}<br>
        {% for error in form.category.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
    </p>
        <p>
        {{ form.new_category.label }}<br>
        {{ form.new_category() }}<br>
        {% for error in form.new_category.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
    </p>

    <p>{{ form.submit() }}</p>
    </form>
{% endblock %}
</body>
</html>